<% provide(:title, "About") %>
<h1>About</h1>
<p>

  The <%= link_to t("ror"), "http://www.railstutorial.org/" %> is a
  <%= link_to t("book"), "http://www.railstutorial.org/book" %>
  <%= link_to t("sreen seri"), "http://screencasts.railstutorial.org" %>
  to teach web development with
  <%= link_to t("ror"), "http://www.railstutorial.org/" %>
  This is the sample application for the tutorial.
</p>
