<% provide :title, t("contact") %>
<h1><% t "contact"%></h1>
<p>
  <%= t "Contact the"%> <%= t "ror"%> <%= t"about the sample app at the"%>
  <%= link_to t("contact page"), "http://www.railstutorial.org/contact"%>
</p>
